<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HorseRacingGame"
        tools:targetApi="31">
        <!-- Login Activity - Entry Point -->
        <activity
            android:name=".activity.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.HorseRacingGame.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Register Activity - Mock Registration -->
        <activity
            android:name=".activity.RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.HorseRacingGame.NoActionBar"
            android:parentActivityName=".activity.LoginActivity" />

        <!-- Main Activity - Game Hub -->
        <activity
            android:name=".activity.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.HorseRacingGame.NoActionBar"
            android:parentActivityName=".activity.LoginActivity" />

        <!-- Betting Activity - Place Bets -->
        <activity
            android:name=".activity.BettingActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.HorseRacingGame.NoActionBar"
            android:parentActivityName=".activity.MainActivity" />

        <!-- Race Results Activity - View Results -->
        <activity
            android:name=".activity.RaceResultsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.HorseRacingGame.NoActionBar"
            android:parentActivityName=".activity.MainActivity" />

    </application>

</manifest>